@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #242424;
    font-family: 'Rubik', sans-serif;
}

.container-home{
    width: 100%;
    height: 550px;
    display: flex; 
    flex-direction: column;
}
.home-dash{
width: 100%;
height: 100%;
}
.texts{ 
    margin-top: 6.5rem;
    margin-left: 5.5rem;
}
.home-dash .title h2{
    font-size:50px;
}
.text_introducao-icon{
    width: 45%;
    margin-top: 3rem;
}
.text_introducao p{
    color: #fff9f9;
}
.icon{
    width: 100%;
    display: flex;
    justify-content: center;
    animation: mov-img 3s ease-in-out infinite;
    margin-top: 3rem;
}
.icon a{
    color: #fff9f9;
}
#arrow
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    font-size: 2rem;

}

.about{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    .image-size{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid{
        width: 500px;
        
    }
    .texts-about{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .texts-insights{
        width: 73%;
    }
}


@media screen and (max-width:1024px){
    .container-home{
        width: 100%;
        height: 645px;
        display: flex; 
        flex-direction: column;
    }
    .texts{
        margin-top: 5rem;
        margin-left: 1rem;
    }
    
    .home-dash .title h2{
        font-size:50px;
    }
    .text_introducao-icon{
        width: 90%;
    }
    #inp{
        display: none;
    }
    .about{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .image-size{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img-fluid{
            width: 500px;
            
        }
        .texts-about{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .texts-insights{
                width: 90%;
            }
            
        }
    }

}

@keyframes mov-img{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    
}