body {
  color: #ffffff;
  background: #0e0e0e;
  overflow-x: hidden;
}

.aboutContainer {
  position: relative;
}

.imageWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.introductionHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  img {
    width: 40%;
  }

  #logoGameSphere {
    transition: all 0.5s linear;
  }

  .openingText {
    transition: all 0.5s linear;
    display: none;
    opacity: 0;
    text-align: center;

    h1 {
      font-size: 70px;
      font-weight: 300;
    }

    h2 {
      font-weight: 700;
      font-size: 70px;
    }
  }

  .sloganText {
    transition: all 0.5s linear;
    display: none;
    width: 100%;
    opacity: 0;
    text-align: center;
    position: absolute;
    padding: 5px;

    p {
      font-size: 60px;
      font-weight: 300;
    }
  }
}

@media only screen and (max-width: 1024px) {

  .introductionHome {
    img {
      width: 45%;
    }

    .openingText {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 60px;
      }
    }

    .sloganText {
      p {
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .introductionHome {
    img {
      width: 50%;
    }

    .openingText {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 50px;
      }
    }

    .sloganText {
      p {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 541px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 38px;
      }

      h2 {
        font-size: 38px;
      }
    }

    .sloganText {
      p {
        font-size: 30px;
      }
    }
  }

}

@media only screen and (max-width: 300px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 30px;
      }
    }

    .sloganText {
      p {
        font-size: 20px;
      }
    }
  }

}