body {
  color: #ffffff;
  background: #131313;
  overflow-x: hidden;
}

.aboutContainer {
  position: relative;
}

.imageWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100%;
  object-fit: cover;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.introductionHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  img {
    width: 40%;
  }

  #logoGameSphere {
    transition: all 0.5s linear;
  }

  .openingText {
    transition: all 0.5s linear;
    display: none;
    opacity: 0;
    text-align: center;

    h1 {
      font-size: 70px;
      font-weight: 300;
    }

    h2 {
      font-weight: 700;
      font-size: 70px;
    }
  }

  .sloganText {
    transition: all 0.5s linear;
    display: none;
    width: 100%;
    opacity: 0;
    text-align: center;
    position: absolute;
    padding: 5px;

    p {
      font-size: 60px;
      font-weight: 300;
    }
  }
}

.imgBackground {
  height: 300px;
  background-image: url("../assets/backgroundTest.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-size: 70px;
  }

  p {
    font-size: 25px;
    margin-top: 1%;
  }
}


.motivations {
  padding: 5% 0;
  background-color: #000000;

  .titleMotivations {
    text-align: center;
    font-size: 70px;
  }

  .subTitleMotivations {
    text-align: center;
    font-size: 25px;
    margin-top: 1%;
    font-weight: 100;
    margin-bottom: 2%;
  }
}

.whoWeAre {
  position: relative;
  width: 100%;

  .participantsCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    transition: all 0.5s ease-in-out;

    width: 100%;
    height: 50%;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 480px;
      height: 500px;
      margin: 10px;
      background-color: rgba(0, 0, 0, 0);

      .img {
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 78%;

        img {
          transition: all 0.2s ease-out;

        }
      }

      .img img:hover {
        transform: scale(1.2);
      }

      .informations {
        margin-top: 2%;
        height: 20%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          h3 {
            font-size: 30px;
            font-weight: 700;
          }

          p {
            font-size: 18px;
            font-weight: 300;
          }
        }

        img {
          width: 18%;
          border-radius: 50%;
        }
      }
    }

  }

  .descriptions {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    user-select: none;

    .cardInformations {
      width: 100%;
      height: 100%;
      position: relative;
      display: none;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;

      .close {
        position: absolute;
        top: 2%;
        left: 2%;
        cursor: pointer;
        font-size: 40px;
        transition: all 0.2s ease-in-out;
        z-index: 99;

        &:hover {
          opacity: 0.8;
          transform: rotateZ(90deg);
          color: #a1a1a1;
        }

        &:active {
          opacity: 0.6;
          transform: scale(0.8);
        }
      }

      .blur {
        width: 100%;
        height: 100%;
        position: absolute;
        backdrop-filter: blur(20px);
      }

      .information {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .container-information {

          img {
            border-radius: 50%;
            width: 120px;
            margin-bottom: 20%;
            border: solid 0.5px #fff;
          }

          h2 {
            font-size: 25px;
            font-weight: 100;
          }

          p {
            font-size: 18px;
            font-weight: 500;
          }

          .social {
            user-select: none;
            margin-top: 15%;

            svg {
              fill: #ffffff;
              width: 50px;
              cursor: pointer;
              transition: all 0.2s linear;

              &:hover {
                opacity: 0.8;
                transform: scale(1.1);
              }
            }
          }
        }

        .social-out {
          display: none;
          user-select: none;
          margin-top: 8%;

          svg {
            fill: #ffffff;
            width: 50px;
            cursor: pointer;
            transition: all 0.2s linear;

            &:hover {
              opacity: 0.8;
              transform: scale(1.1);
            }
          }
        }

        .text {
          display: none;
        }
      }

      .projects {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.swiper {
  width: 85%;
  height: 60%;

  .swiper-slide {
    font-size: 18px;
    color: #060606;
    position: relative;

    .open {
      transition: all 0.5s linear;

      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;

      a {
        position: absolute;
        transition: all 0.8s linear;
        opacity: 0;
        z-index: 99;

        button {
          background-color: #00000000;
          color: #fff;
          padding: 10px 20px;
          font-size: 15px;
          border-radius: 5px;
          border: 1px solid #fff;
          cursor: pointer;
          transition: all 0.4s ease-in;

          &:hover {
            background-color: #3e3e3e4f;
            box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.598);
            transform: scale(1.05);
          }

          &:active {
            background-color: #7474744f;
            box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.107);
            transform: scale(0.95);
          }
        }
      }
    }

    .blur-projects {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.2s linear;
    }

    img {
      width: 100%;
      transition: all 0.2s linear;
      border-radius: 10px;
    }

    .open:hover {
      border-radius: 10px;
      background-color: #000000;

      a {
        opacity: 1;
      }

      .blur-projects {
        backdrop-filter: blur(1px);
      }
    }
  }
}


.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

@media only screen and (max-width: 1024px) {

  .introductionHome {
    img {
      width: 45%;
    }

    .openingText {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 60px;
      }
    }

    .sloganText {
      p {
        font-size: 50px;
      }
    }
  }

  .imgBackground {
    height: 280px;

    h2 {
      font-size: 60px;
    }

    p {
      font-size: 22px;
    }
  }

  .whoWeAre {

    .participantsCards {
      margin-top: 2%;
      width: 100%;
      height: 50%;

      .card {
        width: 480px;
        height: 500px;
        margin: 10px;

        .img {
          width: 80%;
          height: 78%;
        }

        .informations {
          height: 20%;
          width: 80%;

          .left {
            h3 {
              font-size: 30px;
            }

            p {
              font-size: 18px;
            }
          }

          img {
            width: 18%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .whoWeAre {
    .participantsCards {
      .card {
        width: 80%;
        height: 600px;

        .img {
          width: 100%;
          height: 78%;
        }

        .informations {
          height: 22%;
          width: 100%;

          .left {
            h3 {
              font-size: 35px;
            }

            p {
              font-size: 22px;
            }
          }

          img {
            width: 10%;
          }
        }
      }
    }

    .descriptions {
      width: 100%;
      height: max-content;

      .cardInformations {
        width: 100%;
        padding-bottom: 5%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;

        .close {
          font-size: 35px;
        }

        .information {
          width: 100%;

          .container-information {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

            img {
              width: 80px;
              margin-bottom: 0%;
              margin-right: 4%;
            }

            .text-information {
              margin-left: 4%;
            }

            .social {
              margin-top: 0%;
              display: none;
            }
          }

          .text {
            display: flex;
            width: 94%;
            margin-top: 10%;
          }

          .social-out {
            display: flex;
          }
        }

        .projects {
          margin-top: 10%;
          margin-bottom: 5%;
          width: 100%;
        }
      }
    }
  }

  .swiper {
    width: 92%;
    height: fit-content;

    .swiper-slide {
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .introductionHome {
    img {
      width: 50%;
    }

    .openingText {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 50px;
      }
    }

    .sloganText {
      p {
        font-size: 40px;
      }
    }
  }

  .imgBackground {
    height: 250px;

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }
  }

  .whoWeAre {

    .participantsCards {
      margin-top: 3%;

      .card {
        width: 100%;

        .img {
          width: 95%;
          height: 78%;
        }

        .informations {
          width: 95%;

          .left {
            h3 {
              font-size: 25px;
            }

            p {
              font-size: 15px;
            }
          }

          img {
            width: 12%;
          }
        }
      }
    }

    .descriptions {
      width: 100%;

      .cardInformations {
        /* width: 100%; */
        /* min-height: 100vh; */
        /* flex-direction: column-reverse; */

        .close {
          font-size: 35px;
        }

        .information {
          width: 100%;
          height: fit-content;

          .container-information {

            img {
              width: 50px;
              margin-right: 3%;
            }

            h2 {
              font-size: 22px;
            }

            p {
              font-size: 15px;
            }

            .text-information {
              margin-left: 3%;
            }
          }

          .text {
            width: 94%;
            margin-top: 10%;
          }

          .social-out {
            svg {
              width: 50px;
            }
          }
        }

        .projects {
          margin-top: 20%;
          height: fit-content;
        }
      }
    }
  }

  .swiper {
    width: 100%;

    .swiper-slide {
      overflow: hidden;

      img {
        border-radius: 0%;
      }
    }
  }
}

@media only screen and (max-width: 541px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 38px;
      }

      h2 {
        font-size: 38px;
      }
    }

    .sloganText {
      p {
        font-size: 30px;
      }
    }
  }

  .imgBackground {
    height: 200px;

    h2 {
      font-size: 35px;
    }

    p {
      font-size: 15px;
    }
  }

  .whoWeAre {

    .participantsCards {
      .card {
        .informations {
          .left {
            h3 {
              font-size: 25px;
            }

            p {
              font-size: 15px;
            }
          }

          img {
            width: 18%;
          }
        }
      }
    }
  }


  .swiper {
    width: 100%;

    .swiper-slide {
      overflow: hidden;

      img {
        width: 120%;
        border-radius: 0%;
      }
    }
  }
}

@media only screen and (max-width: 325px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 30px;
      }
    }

    .sloganText {
      p {
        font-size: 20px;
      }
    }
  }

  .imgBackground {
    height: 200px;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 12px;
    }
  }

  .whoWeAre {

    .participantsCards {
      margin-top: 3%;

      .card {
        width: 100%;

        .img {
          width: 100%;
          height: 78%;
        }

        .informations {
          width: 100%;

          .left {
            h3 {
              font-size: 20px;
            }

            p {
              font-size: 12px;
            }
          }

          img {
            width: 22%;
          }
        }
      }
    }

    .descriptions {
      .cardInformations {

        .information {
          .container-information {

            margin-top: 5%;

            img {
              width: 50px;
              margin-right: 3%;
            }

            h2 {
              font-size: 22px;
            }

            p {
              font-size: 15px;
            }

            .text-information {
              margin-left: 3%;
            }
          }

          .text {
            margin-top: 10%;
          }

          .social-out {
            svg {
              width: 45px;
            }
          }
        }
      }
    }
  }

}

.aboutUs {
  overflow: hidden;
  width: 100%;
}

.about-us {
  padding: 1% 0;
  display: flex;
}

.left-size {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-abt {
  width: 70%;

  display: flex;
  flex-direction: column;
}

.text {
  h4 {
    font-size: 60px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 0 5% 0;
    width: 100%;
  }

  p {
    width: 85%;
    font-size: 23px;
    font-weight: 300;
  }
}

.img-abt {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 5% 0;

  img {
    width: 80%;
  }
}

@media only screen and (max-width: 1160px) {

  .text {
    h4 {
      font-size: 55px;
      line-height: 1.2;
    }

    p {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1060px) {
  .container-abt {
    width: 75%;

    display: flex;
    flex-direction: column;
  }

  .text {
    h4 {
      font-size: 50px;
      margin: 0 0 5% 0;
    }

    p {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 912px) {
  .about-us {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .left-size {
    width: 90%;
  }

  .container-abt {
    width: 90%;
    align-items: center;
  }

  .text {
    width: 100%;
    text-align: center;

    h4 {
      font-size: 60px;
      margin: 0 0 8% 0;
    }

    p {
      width: 100%;
    }
  }

  .img-abt {
    margin: 5% 0 10% 0;
    width: 85%;

    img {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 575px) {

  .left-size {
    width: 90%;
  }

  .container-abt {
    width: 100%;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h4 {
      font-size: 40px;
    }

    p {
      width: 80%;
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 350px) {

  .text {
    h4 {
      font-size: 35px;
    }

    p {
      width: 100%;
      font-size: 16px;
    }
  }
}

.ourValues {

  .values {
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .activeValue {
      width: 900px;
      height: 700px;
      background-color: #a1a1a1;
    }
    
    .listValues {
      margin-left: 20px;
      .value {
        width: 300px;
        height: 220.5px;
        background-color: #a1a1a1;
      }
    }
  }
}
