body {
  color: #ffffff;
  background: #060606;
  overflow-x: hidden;
}

.aboutContainer {
  position: relative;
}

.imageWapper {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100vh;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
  }
}

.introductionHome {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;

  img {
    width: 40%;
  }

  #logoGameSphere {
    transition: all 0.5s linear;
  }

  .openingText {
    transition: all 0.5s linear;
    display: none;
    opacity: 0;
    text-align: center;

    h1 {
      font-size: 70px;
      font-weight: 300;
    }

    h2 {
      font-weight: 700;
      font-size: 70px;
    }
  }

  .sloganText {
    transition: all 0.5s linear;
    display: none;
    width: 100%;
    opacity: 0;
    text-align: center;
    position: absolute;
    padding: 5px;

    p {
      font-size: 60px;
      font-weight: 300;
    }
  }
}

.whoWeAre {
  position: relative;
  width: 100%;

  .imgBackground {
    height: 300px;
    background-image: url("../assets/backgroundTest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 70px;
    }

    p {
      font-size: 25px;
      margin-top: 1%;
    }
  }

  .participantsCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
    transition: all 0.5s ease-in-out;

    width: 100%;
    height: 50%;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 480px;
      height: 500px;
      margin: 10px;
      background-color: rgba(0, 0, 0, 0);

      .img {
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 78%;

        img {
          transition: all 0.2s ease-out;

        }
      }

      .img img:hover {
        transform: scale(1.2);
      }

      .informations {
        margin-top: 2%;
        height: 20%;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          h3 {
            font-size: 30px;
            font-weight: 700;
          }

          p {
            font-size: 18px;
            font-weight: 300;
          }
        }

        img {
          width: 18%;
          border-radius: 50%;
        }
      }
    }

  }

  .descriptions {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
    user-select: none;

    .cardInformations {
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: #121212;

      .information {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        .close {
          position: absolute;
          top: 2%;
          left: 5%;
          cursor: pointer;
          font-size: 40px;
          transition: all 0.2s ease-in-out;

          &:hover {
            opacity: 0.8;
            transform: rotateZ(90deg);
            color: #a1a1a1;
          }

          &:active {
            opacity: 0.6;
            transform: scale(0.8);
          }
        }

        .container-information {

          img {
            border-radius: 50%;
            width: 120px;
            margin-bottom: 20%
          }

          h2 {
            font-size: 25px;
            font-weight: 100;
          }

          p {
            font-size: 18px;
            font-weight: 500;
          }

          .social {
            user-select: none;
            margin-top: 15%;

            svg {
              fill: #ffffff;
              width: 50px;
              cursor: pointer;
              transition: all 0.2s linear;

              &:hover {
                opacity: 0.8;
                transform: scale(1.1);
              }
            }
          }
        }
      }

      .projects {
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.swiper {
  width: 85%;
  height: 60%;
  overflow-y: auto;
}

.swiper-slide {
  font-size: 18px;
  color: #060606;
  position: relative;

  .open {
    transition: all 0.5s linear;

    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 17, 17, 0);
    color: #fff;
    height: 100%;

    a {
      transition: all 0.8s linear;
      opacity: 0;
      button {
        background-color: #00000000;
        color: #fff;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #fff;
        cursor: pointer;
        transition: all 0.4s ease-in;

        &:hover {
          background-color: #3e3e3e4f;
          box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.598);
          transform: scale(1.05);
        }
        &:active {
          background-color: #7474744f;
          box-shadow: 0px 0px 50px 1px rgba(255, 255, 255, 0.107);
          transform: scale(0.95);
        }
      }
    }
  }

  .open:hover {
    border-radius: 10px;
    background-color: #000000ac;

    a {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    transition: all 0.2s linear;
    border-radius: 10px;
  }

}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
}

@media only screen and (max-width: 1024px) {

  .introductionHome {
    img {
      width: 45%;
    }

    .openingText {
      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 60px;
      }
    }

    .sloganText {
      p {
        font-size: 50px;
      }
    }
  }

  .whoWeAre {
    .imgBackground {
      height: 280px;

      h2 {
        font-size: 60px;
      }

      p {
        font-size: 22px;
      }
    }

    .participantsCards {
      margin-top: 2%;
      width: 100%;
      height: 50%;

      .card {
        width: 480px;
        height: 500px;
        margin: 10px;

        .img {
          width: 80%;
          height: 78%;
        }

        .informations {
          height: 20%;
          width: 80%;

          .left {
            h3 {
              font-size: 30px;
            }

            p {
              font-size: 18px;
            }
          }

          img {
            width: 18%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .whoWeAre {
    .participantsCards {
      .card {
        width: 80%;
        height: 600px;

        .img {
          width: 100%;
          height: 78%;
        }

        .informations {
          height: 22%;
          width: 100%;

          .left {
            h3 {
              font-size: 35px;
            }

            p {
              font-size: 22px;
            }
          }

          img {
            width: 10%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .introductionHome {
    img {
      width: 50%;
    }

    .openingText {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 50px;
      }
    }

    .sloganText {
      p {
        font-size: 40px;
      }
    }
  }

  .whoWeAre {
    .imgBackground {
      height: 250px;

      h2 {
        font-size: 50px;
      }

      p {
        font-size: 20px;
      }
    }

    .participantsCards {
      margin-top: 3%;

      .card {
        width: 100%;

        .img {
          width: 95%;
          height: 78%;
        }

        .informations {
          width: 95%;

          .left {
            h3 {
              font-size: 25px;
            }

            p {
              font-size: 15px;
            }
          }

          img {
            width: 12%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 541px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 38px;
      }

      h2 {
        font-size: 38px;
      }
    }

    .sloganText {
      p {
        font-size: 30px;
      }
    }
  }

  .whoWeAre {
    .imgBackground {
      height: 35%;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 15px;
      }
    }

    .participantsCards {
      .card {
        .informations {
          .left {
            h3 {
              font-size: 25px;
            }

            p {
              font-size: 15px;
            }
          }

          img {
            width: 18%;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 325px) {

  .introductionHome {
    .openingText {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 30px;
      }
    }

    .sloganText {
      p {
        font-size: 20px;
      }
    }
  }

  .whoWeAre {
    .imgBackground {
      height: 200px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 12px;
      }
    }

    .participantsCards {
      margin-top: 3%;

      .card {
        width: 100%;

        .img {
          width: 100%;
          height: 78%;
        }

        .informations {
          width: 100%;

          .left {
            h3 {
              font-size: 20px;
            }

            p {
              font-size: 12px;
            }
          }

          img {
            width: 22%;
          }
        }
      }
    }
  }

}